%button.ztf-button.btn.btn-default(ng-click="form[action](index())" ng-disabled="!form.enable_button(action)" ng-hide="hideMe()")
  %span(ng-if="!useIcon"ng-transclude)
  %span(ng-if="!title_given && !useIcon") {{action.capitalize()}}
  %i.glyphicon(ng-if="useIcon" ng-class="iconClass")
