.ztf-checkbox.checkbox
  %span(ng-hide="form.editable" ng-class="{'text-success': fieldUpdated()}")
    %i.glyphicon(ng-class="{'glyphicon-ok': form.getItem().copy[ztField] === true, 'glyphicon-remove': form.getItem().copy[ztField] === false, 'text-success': form.getItem().copy[ztField] === true, 'text-danger': form.getItem().copy[ztField] === false}")
    %span(ng-transclude)
    %i.glyphicon.glyphicon-saved.text-success(ng-show="fieldUpdated()")
  %label(ng-show="form.editable" ng-class="{'text-warning': fieldModified(), 'text-danger': fieldError(),'bg-red': fieldModified(), 'bg-red': fieldError()}")
    %input(type="checkbox" ng-model="form.getItem().copy[ztField]")
    %span(ng-transclude)
    %i.glyphicon.glyphicon-refresh.text-warning(ng-show="fieldUpdating()")
    %i.glyphicon.glyphicon-warning-sign.text-danger(ng-show="fieldError()" title="{{glyphTitle()}}")
  
